.App {
  text-align: center;
}

.App-header {
  background-color: rgb(61, 61, 51);
    img{
      width: 30vh
    }
}
.container {
  margin: 3rem 3rem;
}

h1{
  display: inline-block;
  background-color: rgb(61, 61, 51);
  color: white;
  text-decoration: underline;
  padding: 10px;
}

.Mes-avis{
  background-color: rgb(61, 61, 51);
  color:white;
  position: relative;
  
}

.btnDetails{
  background-color: rgb(85, 171, 65);
  border-radius: 1rem;
  border: 0;
  font-size: large;
  margin-bottom: 10px;
  margin-right: 10px;
}
.btnDelete{
  background-color: rgb(235, 45, 45);
  border-radius: 1rem;
  border: 0;
  font-size: large;
  margin-bottom: 10px;
}
.btnAdd{
  background-color: rgb(61, 61, 51);
  color: white;
  border: 0;
  font-size: large;
  padding: 10px;
}
.btnModal{
  background-color: white;
  border-radius: 1rem;
  border: 0;
  font-size: large;
}


.modal{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  background-color: rgb(61, 61, 51);
  display: flex;
  flex-direction: column;
  justify-content: center ;
  align-items: center;
}
.form{
  width: 50vw;
  border-radius: 0.5rem;
  border: 0
}